# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Log and temporary files
*.log
*.tmp
